html {
  font-size: 66%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border: 10px solid #a201ff;
  border-radius: 5px;
  width: 400px;
}

.calculator-screen {
  width: 100%;
  height: 80px;
  border: none;
  background-color: #020c69;
  color: #e8ff93;
  text-align: right;
  padding: 0 20px;
  font-size: 4rem;
}

button {
  height: 60px;
  font-size: 3rem;
  border-radius: 20px;
}

.operator {
  background-color: #fd8f00;
  color: #020c69;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.equals {
  grid-area: span 2;
  background-color: #1efd00;
  color: #020c69;
}

.all-clear {
  background-color: #fd8f00;
  color: #ff0037;
}

.decimal {
  background-color: #fd8f00;
  color: #0011ff;
}
